body {
    display: flex;
    flex-direction: column;
    line-height: normal;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: black;
    color: darkgray;
}

nav ul {
   display: flex;
   justify-content: center;
   list-style: none;
   margin-top: 80px;

}

nav ul a {
    display: block;
    color: cornsilk;
    font-family: sans-serif;
    text-decoration-line: none;
    border-bottom: 2px solid white;
    padding: 0 6px 0 6px;
}

nav li {
    padding-right: 30px;
}


.order-container {
    border-style: none;
    position: relative;
    top: 20px;
    height: 100px;
    width: 300px;
}

.order-header {
    text-align: right;
    background-color: #a9dbde;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    height: 35px;
}

  
.banner {
    height: 100px;
    margin: 0%;
    background: url(https://dreaminginyellow.com/diy-custom-design-yellow-strips/) bottom center no-repeat
  }

.subtitle-container {
    position: relative;
    left: 844px; top: 54px;
    border-style: none;
    height: 100px;
    width: 300px;
  }

.subtitle-container {
        text-align: center;
        background-color: #a9dbde;
        font-family: sans-serif;
        font-size: 30px;
        color: black;
        height: 35px;
}

.image-section {
    border: 2px solid teal
    
}

.section {
    display: flex;
}

.left-section {
    color:blue;
    font-family: sans-serif;
    font-size: 30px;
    text-align: right;
    border-right: 2px solid blue;
    padding: 5px;
    width: 200px;
}

.section-content ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 60px;
}

.section-content ul a {
    display: block;
    color: black;
    font-family: sans-serif;
    text-decoration-line: none;
    border-bottom: 2px solid blue;
    padding: 0 6px 0 6px;
}

.section-content li {
    padding-right: 30px;
    }